
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600;800&display=swap'); 

*, *:before, *:after{
	box-sizing: inherit;
}

html, body{
	width: 100%;
	height: 100%;
}

html {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  color: #1B7CAF;
  font-size: 16px;
  font-weight: 400;
}


body.contenedorGeneral {
  /* background-color: #f9f9f9; */
  padding: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doscientos{
  font-weight: 200;
}

.seiscientos {
  font-weight: 600;
}

.contenedorGrid {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(6, minmax(100px, 150px));
  border-radius: 10px;
}









/* --- Formulario --- */
.contenedorFormulario {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  padding: 30px;

  /* Hace que ocupe el ancho total de la rejilla superior */
  grid-column: span 6;
  
  /* Rejilla interna del formulario */
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr repeat(3, 90px);
}

.tituloAlumno, .tituloTiempo {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0 auto;
}

.tituloAlumno {
  grid-column: 1 / 2;
}

.tituloTiempo {
  grid-column: 2 / 5;
}

.campoAlumno, .campoMinutos {
  border: 2px solid #BDDCF2;
  border-radius: 5px;
  padding: 5px 10px;
}

::placeholder{
  font-family: 'Kanit', sans-serif;
  color: #1B7CAF;
  font-size: 16px;
}

.campoMinutos {
  text-align: center;
}


.campoMinutos:hover {
  background-color: #BDDCF2;
  color: #fff;
}











/* --- Podio --- */
.usuarioPodio{
  background-color: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  text-align: center;
  min-height: 200px;
  height: auto;
  grid-column: span 2 ;
}

.contenedorAvatarPodio {
  background-color: #fff;
  
  height: 80px;
  border-radius: 15px 15px 0 0;
  
}

.userIcon {
  font-size: 4rem;
  background-color: #C1C9D1;
  padding: 1.6rem;
  border-radius: 50%;
  color: #fff;
  margin-top: 20px;
}

/* .avatarPodio {
  width: 50%;
  position: relative;
  top: 25px;
} */

.contenedorDatosPodio {
  padding: 65px 0 25px 0;
  /* margin-top: -50px; */
  background: #BDDCF2;
  /* background: linear-gradient(0deg, rgba(189,220,242,1) 0%, rgba(27,124,175,1) 100%); */
  border-radius: 0 0 15px 15px;
  width: 100%;
}

.nombrePodio {
  font-weight: 600;
  font-size: 2rem;
}

.apellidoPodio {
  font-weight: 200;
  font-size: 1.5rem;
}

.tiempoPodio {
  font-size: 1.3rem;
  margin-top: 18px;
}

/* --- Parrilla --- */
.usuarioParrilla {
  background-color: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 50px;
  grid-column: span 3 ;
  
  display: flex;
  justify-content: flex-start;
  align-items: center; 
}

.contenedorAvatarParrilla{
  width: 30%;
  height: 100%;
  background: #BDDCF2;
/*   background: linear-gradient(-90deg, rgba(189,220,242,1) 0%, rgba(27,124,175,1) 100%);
 */
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarParrilla {
  height: 40px;
}

.contenedorDatosParrilla {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nombreParrilla, .apellidoParrilla, .tiempoParrilla {
  font-size: 1.15rem;
}

.nombreParrilla {
  font-weight: 600;
}

.apellidoParrilla {
  font-weight: 200;
  padding-left: 10px;
}

.tiempoParrilla {
  padding-left: 18px;  
}


/* --- Media Queries --- */
@media (max-width: 800px) {
  .contenedorGrid {
    grid-template-columns: repeat(2, 230px);
    grid-gap: 18px;
  }

  .contenedorFormulario {
    grid-column: span 2;
  }

  #usuarioPrimero {
    grid-column: 1 / 3;
  }

  #usuarioSegundo {
    grid-column: 1 / 2;
  }
  
  #usuarioTercero {
    grid-column: 2 / 3;
  } 
  
  .usuarioParrilla{
    grid-column: 1 / 3;
  }



  .tituloAlumno {
    display: none;
  }

  .tituloTiempo {
    display: none;
  }

  .contenedorFormulario {
    grid-gap: 8px;
    grid-template-columns: repeat(3, 1fr);
  }
    
  .campoAlumno {
    grid-column: span 3;
  }
  
  .campoMinutos{
    grid-column: span 1 ;
  }

}


